@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
 
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    ViewData["Message"] = "Use another service to log in.";
}

<section class="section">
    <div class="container">
        <h1 class="title">@ViewData["Title"]</h1>
        <h2 class="subtitle">@ViewData["Message"] </h2>
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="button is-link" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </div>

</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
