@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using P7.Core.Cache
@using P7.External.SPA.Areas.ExtSpa.Controllers
@using P7.External.SPA.Core
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P7.Core-2.0</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    
    <link rel="stylesheet" href="~/css/site.css" />
    @{
        var loadedSpas = SessionCacheManager<Dictionary<string, ExternalSPARecord>>.Grab(HttpContextAccessor.HttpContext,
            ".loadedSpas") ?? new Dictionary<string, ExternalSPARecord>();
        var query = from item in loadedSpas
                    let c = new FrontChannelRecord { KeepAliveUri = item.Value.KeepAliveUri,LogoutUri = item.Value.LogoutUri}
                    select c;
        var frontChannelRecords = query.ToList();
        ViewBag._frontChannelRecords = frontChannelRecords;
        var hash = SessionCacheManager<string>.Grab(HttpContextAccessor.HttpContext,".identity.userHash") ?? "";
        ViewBag._userHash = hash;
    }
    <script>
        var viewBagRecord = @Html.Raw(JsonConvert.SerializeObject(ViewBag.ViewBagRecord));
        var frontChannelRecords = @Html.Raw(JsonConvert.SerializeObject(ViewBag._frontChannelRecords));
        var userHash = "@ViewBag._userHash";
        var cacheBustHash = "@ViewBag.CacheBustHash";
        console.log(viewBagRecord);
        console.log(frontChannelRecords);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="~/lib/keep-alive-hook.js" asp-append-version="true"></script>
    @RenderSection("head", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
 
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">Theory and Practice</a>
        
        <div class="navbar-burger burger" data-target="navMenuColordark-example">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenuColordark-example" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"  >
                    External SPAs
                </a>
     
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/espa/localmethis/">
                        Local Me This
                    </a>
                    <a class="navbar-item" href="/espa/svelte/">
                        Svelte
                    </a>
                    <a class="navbar-item" href="/espa/reactone/">
                        ReactOne
                    </a>     
                    <a class="navbar-item" href="/espa/Admin/">
                        Admin
                    </a>
                    <a class="navbar-item" href="/espa/Support/">
                        Support
                    </a>
                    <a class="navbar-item" href="/espa/GraphiQL/">
                        GraphiQL
                    </a>
                    <a class="navbar-item" href="/espa/MyApp/">
                        MyApp
                    </a>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("_LoginPartial.bulma")
    </div>
</nav>

@RenderBody()

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma Templates</strong> by <a href="https://github.com/dansup">Daniel Supernault</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/dansup/bulma-templates">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>    

 
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    keepAliveHook.start("/keep-alive");
</script>
@RenderSection("Scripts", required: false)
</body>
</html>
